@font-face {
  font-family: 'Exo 2 Black';
  src: url('~assets/fonts/Exo2-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Black Italic';
  src: url('~assets/fonts/Exo2-BlackItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Bold';
  src: url('~assets/fonts/Exo2-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Bold Italic';
  src: url('~assets/fonts/Exo2-BoldItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Extra Bold';
  src: url('~assets/fonts/Exo2-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Extra Bold Italic';
  src: url('~assets/fonts/Exo2-ExtraBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Extra Light';
  src: url('~assets/fonts/Exo2-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Extra Light Italic';
  src: url('~assets/fonts/Exo2-ExtraLightItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Exo 2 Italic';
  src: url('~assets/fonts/Exo2-Italic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Light';
  src: url('~assets/fonts/Exo2-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Light Italic';
  src: url('~assets/fonts/Exo2-LightItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Medium';
  src: url('~assets/fonts/Exo2-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Medium Italic';
  src: url('~assets/fonts/Exo2-MediumItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  src: url('~assets/fonts/Exo2-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Semi Bold';
  src: url('~assets/fonts/Exo2-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Semi Bold Italic';
  src: url('~assets/fonts/Exo2-SemiBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Thin';
  src: url('~assets/fonts/Exo2-Thin.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2 Thin Italic';
  src: url('~assets/fonts/Exo2-ThinItalic.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro Bold';
  src: url('~assets/fonts/ReadexPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro Medium';
  src: url('~assets/fonts/ReadexPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro SemiBold';
  src: url('~assets/fonts/ReadexPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro ExtraLight';
  src: url('~assets/fonts/ReadexPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro Light';
  src: url('~assets/fonts/ReadexPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('~assets/fonts/ReadexPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

